.character-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px var(--shadow-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 320px;
    font-family: "Arial", sans-serif; /* Cambiar la fuente */
}

.character-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
}

main {
    text-align: center;
}

h2 {
    margin-top: 20px;
    font-size: 1.5em;
    color: var(--text-color);
    font-family: "Georgia", serif; /* Fuente diferente para los títulos */
}

p,
ul {
    margin: 20px;
    line-height: 1.6;
    color: #000000; /* Cambiar el color del texto */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    background-color: #db6060; /* Añadir fondo a los elementos de lista */
    padding: 10px;
    border-radius: 5px; /* Bordes redondeados para los elementos de lista */
}

b {
    font-weight: bold;
    color: #000000; /* Cambiar el color del texto en negrita */
}

a {
    color: #000; /* Color negro para los enlaces */
    text-decoration: none; /* Opcional: eliminar el subrayado de los enlaces */
}

a:hover {
    transition: color 0.3s;
    color: #ff0000; /* Color ligeramente más claro para el efecto hover */
}
