/* header.css */

body {
    font-family: "Roboto", sans-serif; /* Cambié la fuente para una apariencia más moderna */
    background-color: #f0f0f0; /* Fondo claro y neutro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #444;
}

.header-content nav a {
    color: #ff7b00; /* Color más vibrante */
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s; /* Transición suave */
}

.header-content nav a:hover {
    color: #ffaf00; /* Cambio de color al pasar el ratón */
    text-decoration: underline;
}

.logo-container {
    margin-top: 20px;
}

#logo {
    border-radius: 5px;
    max-width: 150px;
    height: auto;
}

h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 2.5em;
}

.characters-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-bottom: 100px;
}

.character {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s; /* Efecto de transición suave */
}

.character:hover {
    transform: translateY(-10px); /* Efecto de elevación al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.character h2 {
    margin: 0 0 10px 0;
    color: #333;
    font-size: 1.5em;
}

.character p {
    margin: 0;
    font-size: 1.2em;
    color: #555;
}

.about-us,
.contact-form {
    background-color: white;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-us h2,
.contact-form h2 {
    margin: 0 0 20px 0;
    font-size: 2em;
    text-align: center;
}

.about-us p,
.contact-form p {
    font-size: 1.2em;
    color: #555;
}

.contact-form form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1em;
    box-sizing: border-box;
}

.contact-form form button {
    background-color: #222;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave */
}

.contact-form form button:hover {
    background-color: #444; /* Cambio de color al pasar el ratón */
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: auto;
}

footer a {
    color: #aaa;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s; /* Transición suave */
}

footer a:hover {
    color: white; /* Cambio de color al pasar el ratón */
    text-decoration: underline;
}
